$bg-nav: #161616;
$font-nav: #ffffff;
$font-family: 'Raleway', Arial, Helvetica, sans-serif;
$bg-btn: #ffe500;


// //bacgrounds
// $body-bg: #ff55;

// //fonts
// $basic-family: 'Roboto', Arial, Helvetica, sans-serif;