$bg-nav: #161616;
$font-nav: #ffffff;
$font-family: 'Raleway', Arial, Helvetica, sans-serif;
$bg-btn: #ffe500;
$bg-cont: #f1f2f5;
$bg-form: #eff0f1;
$mobile: 680px;
$tablet: 1024px;
$desktop: 1920px;
