.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 48px;
  max-width: 1200px;
  margin: 0 auto;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
 
  &__column {
    width: calc(100%/3);
    // background-color: $font-nav;
    padding: 22px 15px;
    flex-grow: 1;
    // background-color: $bg-cont;
  }
}