.footer {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $bg-nav;

  @include tablet {
    padding-bottom: 40px;
  }
  
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    .nav__point {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__top {
    @include tablet {
      display: block;
    }
  }

  &__logo {
    @include tablet {
      margin: 20px auto;
    }
  }

}
