.header {
  background-color: $bg-nav;
  color: $font-nav;
  font-family: $font-family;
  padding-bottom: 40px;
  position: relative;

  @include tablet {
    padding: 30px 16px 20px 16px;
    background: rgba(0, 0, 0, 0.4);
    
    // &::after {
    //   background: rgba(0, 0, 0, 0.2);
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    // }
  }

  &._active {
    background-color: $bg-nav;
    height: 100vh;
  }  

  &__container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 8;
  }

  &__top {
    padding-top: 30px;
    padding-bottom: 30px;
    
    @include tablet {
      z-index: 2;
      padding: 0;
    }
  }

  &__logo {
    @include font(12px, 14px, 400);
    text-transform: uppercase;
    letter-spacing: 0.22em;
    text-align: center;
    border: 1px solid $font-nav;
    padding: 10px 19px;
    max-width: 90px;
    margin-right: 15px;
    z-index: 2;
  }

  &__nav {
    @include tablet {
      position: fixed;
      background-color: $bg-nav;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      display: none;
    }

    &._active {
      display: flex;      
    }
  }  

  &__phone {
    @include font(13px, 15px, 400);
    letter-spacing: 0.1em;
    text-transform: none;
    margin-left: 15px;
    margin-right: 15px;

    .header__phone-img {
      transform: matrix(0.97, 0.26, -0.25, 0.97, 0, 0);
    }

    @media (max-width: 1080px) {
      @include font(10px, 14px, 400);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__adress {
    @include font(10px, 14px, 400);
    text-transform: none;
  }

  &__phone, &__adress {
    display: flex;
    align-items: center;

    @include tablet {
      display: none;
    }
  }

  &__phone-img, &__adress-img {
    margin-right: 9px;
  }  

  &__burger {
    max-width: 26px;

    &-span {
      display: block;
      width: 24px;
      background-color: $font-nav;
      height: 2px;
      margin-bottom: 6px;
    }    

    display: none;

    @include tablet {
      display: block;
    }

    &._active {
      .header__burger-span:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: 0;
      }

      .header__burger-span:nth-child(2) {
        transform: rotate(-45deg);
        margin-bottom: 0;
        margin-top: -2px;
      }

      .header__burger-span:nth-child(3) {
        display: none;
      } 
    }
  }

  &__slide {
    @include tablet {
      display: block;
      padding: 0;
      margin-top: 102px;
      margin-bottom: 47px;
    }

    &._active {
      display: none;
    }
  }

  &__pages-row {
    justify-content: flex-end;
    margin-right: 50%;

    @include tablet {
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    
    &._active {
      display: none;
    }
  }

  &__pages {
    @include font(18px, 21px, 400);
    display: flex;
    align-items: center;
   
    @include tablet {
      @include font(15px, 18px, 400);
    }
  }

  &__page {
    display: block;
    margin-left: 18px;
    margin-right: 18px;

    @include tablet {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  &__vector {
    width: 24px;
    height: 8px;

    &:last-child {
      transform: rotate(180deg);
    }

    @include tablet {
      width: 19px;
      height: 6px;
    }
  }
}