.nav {
  &__menu {
    list-style: none;
    // max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 0 auto;
    padding: 0;

    &._active {
      // display: block;
      flex-direction: column;
      margin: 0 auto;
      min-width: 288px;
      text-align: center;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    margin-right: 30px;   

    @include mobile {
      margin-right: 0;
    }
  }

  &__item-desk {
    @include mobile {
      display: none;
    }
  } 
 
  &__point {
    display: block;
    @include font(13px, 15px, 400);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mobile {
      @include font(14px, 16px, 400);
      letter-spacing: 0.12em;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }  
  
  &__phone {
    text-transform: none;

    .nav__phone-img {
      transform: matrix(0.97, 0.26, -0.25, 0.97, 0, 0);
    }
  }

  &__adress {
    @include font(10px, 14px, 400);
    text-transform: none;
  }

  &__phone, &__adress {
    display: flex;
    align-items: center;
  }

  &__phone-img, &__adress-img {
    margin-right: 9px;
  }  
}