.nav {
  &__menu {
    list-style: none;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  &__item {
    padding: 0;
    margin: 0;

    // &:not(:last-child) {
    //   margin-right: 30px;
    // } 
  }

  &__point {
    display: block;
    @include font(13px, 15px, 400);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 40px;
    padding-bottom: 40px;
  }  
  
  &__logo {
    @include font(12px, 14px, 400);
    text-transform: uppercase;
    letter-spacing: 0.22em;
    text-align: center;
    border: 1px solid $font-nav;
    padding: 10px 19px;
  }

  &__phone {
    text-transform: none;

    .nav__phone-img {
      transform: matrix(0.97, 0.26, -0.25, 0.97, 0, 0);
    }
  }

  &__adress {
    @include font(10px, 14px, 400);
    text-transform: none;
  }

  &__phone, &__adress {
    display: flex;
    align-items: center;
  }

  &__phone-img, &__adress-img {
    margin-right: 9px;
  }  
}