.slide {
  @include font(27px, 41px, 700);
  letter-spacing: 0.12em;
  text-transform: uppercase;
 
  @include mobile {
    @include font(18px, 31px, 700);
  }
  
  &__article {
    padding-top: 140px;
    max-width: 50%;

    @include mobile {
      padding-top: 0;
      max-width: 100%;
    }
  }

  &__text {
    max-width: 526px;
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 36px;
    }
  }

  &__btn {
    @include font(18px, 21px, 700);
    letter-spacing: 0.13em;
    text-transform: uppercase;
    padding: 19px 53px;
    margin-bottom: 70px;

    @include mobile {
      @include font(14px, 16px, 700);
      padding: 19px 40px;
      margin-bottom: 0;
    }
  }  

  &__ground {
    position: absolute;
    right: 0;
    top: 175px;
    width: 50vw;
    height: 510px;
    object-fit: cover;

    @include mobile {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -2;
    }
  }
}
