.slide {
  &__article {
    padding-top: 140px;
    max-width: 50%;
  }
  
  &__text {
    max-width: 526px;
    margin-bottom: 50px;
  }

  &__btn {
    @include font(18px, 21px, 700);
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-align: center;
    color: $bg-nav;
    display: block;
    padding: 19px 53px;
    background-color: $bg-btn;
    border: none;
    cursor: pointer;
    margin-bottom: 70px;
  }

  &__pages {
    @include font(18px, 21px, 400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(24px * 2 + 18px * 2 + 47px);
    margin-bottom: 39px;
    margin-left: auto;
  }

  &__vector {
    &:last-child {
      transform: rotate(180deg);
    }
  }


  
}